<!--<a href="#" class="burger-menu"><i class="fa fa-bars"></i></a>-->


<header class="header">
	<div class="container container-wide">
		<a class="header-logo" href="/"></a>
		<h1><a href="/">Continuous Integration Apps</a></h1>

		<div class="header-description">
			The best apps for Continuous Integration & Continuous Delivery
		</div>

		<nav class="header-social">
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
			<a href="{{ "/feed.xml" | prepend: full_base_url }}" target="_blank"><i class="fa fa-rss"></i></a>
		</nav>
	</div>
</header>