<a href="#" class="burger-menu"><i class="fa fa-bars"></i></a>


<header class="header">
	<div class="container">
		<a class="header-logo" href="/"></a>
		<h1><a href="/">CI/CD Apps</a></h1>

		<div class="header-description">
			Hi I’m Boudewijn Wolters and I'm creator of CI/CD Apps, when you can compare tools for Continuous Integration and Continuous Delivery
		</div>

		<nav class="header-social">
			<a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
			<a href="{{ "/feed.xml" | prepend: full_base_url }}" target="_blank"><i class="fa fa-rss"></i></a>
		</nav>
	</div>
</header>