* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html {
	font-family: $font-default;
	font-size: 14px;
	line-height: (31/19);

	@include mq(md) {
		font-size: 16px;
	}
}

body {
	background-color: #fff;
	position: relative;
	overflow-y: scroll;
	margin: auto;
	font-size: px2rem(19px);
	color: $color-text;

	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-ms-text-size-adjust: 100%;
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

a {
	color: $color-brand;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}