.header {
	text-align: center;
	margin: 4rem 0;

	@include mq(md) {
		margin: 6rem 0;
	}

	h1 {
		font-size: px2rem(50px);
		font-weight: 300;
		line-height: 1;
		color: $color-dark;
		margin: 0 0 1rem;

		a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.header-logo {
	display: block;
	width: 3rem;
	height: 3rem;
	margin: 0 auto 1.5rem;
	border-radius: 50%;
	background: url(../img/logo.svg) no-repeat center/cover;
}

.header-description {
	max-width: 680px;
	margin: 0 auto 1.5rem;
	color: $color-gray;
}

.header-social {
	text-align: center;

	a {
		margin: 0 4px;
		font: 22px $font-icons;
		color: #777;
		opacity: .6;
		transition: .3s color;

		&:hover {
			color: $color-dark;
		}
	}
}

.burger-menu {
	position: fixed;
	display: block;
	width: 40px;
	height: 40px;
	top: 10px;
	left: 10px;
	text-align: center;
	font-size: 22px;
	line-height: 40px;
	color: #fff;
	background: $color-dark;
	border-radius: 3px;
	z-index: 10;
	transition: .3s background;

	&:hover {
		background: $color-brand;
	}
}